{
    "apps" : {
        "api": {
            "baseurl": "http://localhost:8003/",
            "port": 8003
        }
    },
    "db": {
        "host": "localhost",
        "port": "27017",
        "name": "woah"
    }

}
